/*-- scss:defaults --*/
$presentation-h1-font-size: 2em;
$presentation-font-size-root: 35px;
$indigo:  #6610f2 !default; 
$orange:  #FF9933 !default;
/*-- scss:rules --*/
.reveal ul ol li p {
  font-size: 0.7em;
  color: $inrae-sombre;
}

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.reveal .quarto-title-block .quarto-title-authors {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #008c8e;
  display: flex;
  text-align:right;
  justify-content: right;
  line-height: 1em;
}

.reveal a {
  color: $indigo;
}

.center-logo{
  margin: 0!important;
  height: 30px;
}

.slide-background-content {
  background-color: #f1eade;
}

